.reportHeader{
    margin-left: 37%;
    font-style: italic;
    font-weight: bold;
    font-size: 40px;
}

table,th,td{
    border: 1px solid black;
    border-collapse: collapse;
  }
  td{
    text-align: center;
  }
  table{
    width: 60%;
    margin-left: 23%
  }
  
  .buttons{
    background-color:  rgb(21, 119, 247);
    margin-left: 70%;
    position:fixed;
    color: black;
  }
  p{
    text-align: center;
    font-size: 45px;
    font-weight: bold;
    font-style: normal;
    color: dodgerblue;
  }