<br>
<br>
<br>
<br>
<h1 class="cate-header">Your Transactions</h1><br><br>
<br>
<div class="main">
    <div class="right">
    
   <b>Choose your date :</b> <input type="date" placeholder="select Date" [(ngModel)]="udate"><br><br>
   <b>Choose your type :</b>  <input type="radio" value="income" [(ngModel)]="utype" (click)="incomeFunction()">
                       <label for="income">INCOME</label>
                       <input type="radio" value="expense" [(ngModel)]="utype" (click)="expenseFunction()">
                       <label for="expense">EXPENSE</label><br><br>
  <b>Choose your categories :</b><div *ngIf="incomee"  >
                                        <select [(ngModel)]="ucate">
                                            <option *ngFor="let income of list">
                                                {{income.income}}
                                            </option>
                                        </select>
                                    </div> 
                                    <div *ngIf="expene">
                                        <select [(ngModel)]="ucate">
                                            <option *ngFor="let expens of expenses">
                                                {{expens.expense}}
                                            </option>
                                        </select>
                                    </div><br>
  <b>Enter your Description : </b><input type="text" placeholder="Description" [(ngModel)]="udesc"><br><br>
   <b>Enter your Amount : </b><input type="number" placeholder="Amount" [(ngModel)]="uamt"><br><br>
    <button (click)="add()">ADD</button> &nbsp; <button (click)="refresh()">DELETE ALL</button> &nbsp;  
    <button mat-button color="primary" class="buttons" routerLink="/expense">Go Back</button>
   &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
   <button mat-button color="primary" class="buttons" routerLink="/report">Next</button>
</div>
<div class="left">

    <table>
        <tr>
            <th>S.NO</th>
            <th>DATE</th>
            <th>TYPE</th>
            <th>CATEGORIES</th>
            <th>DESCRIPTION</th>
            <th>AMOUNT</th>
        </tr>
        <tr *ngFor="let user of dummy;let i = index">
            <td>{{i+1}}</td>
            <td class="date">{{user.date}}</td>
            <td>{{user.type}}</td>
            <td>{{user.categories}}</td>
            <td>{{user.description}}</td>
            <td>{{user.amount}}</td>
            <td><button (click)="delete(i)">DELETE</button></td>
        </tr>
    </table>
   
</div>
</div>
<br>
<div >
<h1 class="result">Your Income total : {{totalIncome}}</h1>
<h1 class="result">Your Expense total : {{totalExpense}}</h1>
<h1 class="result">Your Balance is : {{totalBalance}}</h1>
</div>