<div class="navBar">
  <button class="logo" routerLink="/">Expense Tracker</button>
  <button mat-button color="primary" class="buttons" routerLink="/income">Income</button>
  <button mat-button color="primary" class="buttonsa" routerLink="/expense">Expense</button>
  <button mat-button color="primary" class="buttonsa" routerLink="/dummy">Transactions</button>
  <button mat-button color="primary" class="buttonsa" routerLink="/report">Report</button>
  <button mat-icon-button color="primary" aria-label="Example icon-button with a heart icon" class="home">
    <mat-icon class="homeicon"  routerLink="/">home</mat-icon>
  </button>
</div>
<div><router-outlet></router-outlet></div>
